# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

FRONTEND_URL=http://localhost:4200

DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=QR_inu
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=an

PORT=3000
HOST_API=http://localhost:3000/api
FRONT_URL=http://localhost:5173/mascota

JWT_SECRET=Est3EsMiSE33dSec3t000123

DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"